<div id="users">
<h1>
    Usuarios
</h1>
<div id="tabla_users">
<table >
    <% for (var i in users) { %>
    <tr>
        <td>
            <a href="/users/<%= users[i].id %>" ><%= users[i].username %></a>
            <%= users[i].isAdmin ? "(admin)" : "" %>
        </td>

        <% if (session.user) { %>

            <% if (session.user.isAdmin || session.user.id === users[i].id) { %>
                <td>
                    <a href="/users/<%= users[i].id %>/edit"><button>editar</button></a>
                </td>
            <%  } %>

            <% if (session.user.isAdmin && session.user.id !== users[i].id) { %>
                <td>
                    <a href="/users/<%= users[i].id %>?_method=DELETE"
                       onClick="return confirm('Borrar cuenta: <%= users[i].username %>');">
                        <button>borrar</button>
                    </a>
                </td>
            <%  } %>

        <%  } %>

    </tr>
    <%  } %>
</table>
    <% if (session.user) { %>
    <a href="/users/new"><button type="button">Crear usuario</button></a>
    <%  } %>

</div>


<%if(session.user){%>
<div class="tabla_users_conectados">
            <table>

                <p><b>Usuarios conectados:</b></p>
                <%for(var i in sesiones){%>
                    <tr>
                        <td>
                            <%=sesiones[i].username%>
                        </td>
                    </tr>
                <%}%>
            </table>
</div>
</div>
    <div  id="chat">

        <ul id="messages"></ul>

        <form id="caja-mensaje" onsubmit="return sendMsg(this)" action="">
            <input  type="text" placeholder="Enviar mensaje" id="msg">
            <input id="enviar_msg" type="submit" value="Enviar">
        </form>


    <style>

    </style>

    <script>
            var socket = io();

            var username="<%=session.user.username%>";
            socket.emit('new',username);

            function sendNew() {

                socket.emit('new',username);
                username.val('');
                return false;
            }

            function sendMsg(e) {
                var msg={
                    author:"<%=session.user.username%>",
                    text:$('#msg').val()
                };
                socket.emit('chat message', msg);
                $('#msg').val('');
                return false;
            }
            socket.on('messages', function(msg){
                if(msg.author==="<%=session.user.username%>"){/* Distinciion de mensajes propios o mensajes de otros usuarios*/
                    $('#messages').append($('<li class="mensaje_propio">').text(msg.text));
                }else {
                    $('#messages').append("<li class='mensaje_ajeno'><strong>"+msg.author+":</strong>"+msg.text+"</li>")/;
                }
            });
            socket.on('nuevo',function (username,mensajes) {
                /*Si el mensaje de 'nuevo' lo recibe otro usuario que estuviera conectado */
                if("<%=session.user.username%>"!==username){
                    $('#messages').append("<li class='conectado'><strong>"+username +" se ha unido</sctrong></li>")/* Usuario_X se ha unido */;
                }else{/*Si lo recibe el usuario que se ha conectado, mostramos el historial de mensajes*/
                    for (var i in mensajes){
                        var msg=mensajes[i];
                        if(msg.author==="<%=session.user.username%>"){
                            $('#messages').append($('<li class="mensaje_propio">').text(msg.text));
                        }else {
                            $('#messages').append("<li class='mensaje_ajeno'><strong>"+msg.author+":</strong>"+msg.text+"</li>");
                        }
                    }
                }

            });


    </script>
        </div>
<%}%>

